.wrapper {
	padding: 0 0.5rem 4rem 0;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1rem 2rem;
}

.author {
	font-size: 3rem;
	line-height: 3rem;
	padding-right: 3rem;
}

.buttonRegister {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0 0.5rem 4.5rem;
	height: 9rem;
	width: 23.6rem;
	border-radius: 2rem;
	font-size: 3rem;
	font-style: italic;
	font-weight: 400;
	line-height: 3rem;
	-webkit-text-stroke: 0.1rem var(--lightGray);
	text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
	box-shadow: 1rem 0.4rem 0.4rem rgba(0, 0, 0, 0.75);
	color: var(--white);
	background-color: var(--darkGreen);
}

.section {
	margin: 7.9rem auto 0 auto;
	padding: 0 2.5rem;
	max-width: 80rem;
	height: 82.4rem;
}

.profileContainer {
	overflow: hidden;
	position: relative;
	padding-left: 2rem;
	max-width: 80rem;
	height: 74rem;
	border-radius: 50rem 6rem 30rem 10rem;
	box-shadow: 1.2rem 0.4rem 0.4rem rgba(0, 0, 0, 0.6);
}

.profileContainer::before,
.profileContainer::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	z-index: -10;
}

.profileContainer::before {
	opacity: 0.2;
	background: linear-gradient(-45deg, #362c2c, #695656);
}

.profileContainer::after {
	opacity: 0.15;
	background: linear-gradient(45deg, #362c2c, #a59191);
}

.profileImage {
	margin: 14rem auto auto auto;
	width: 70%;
	height: 38.3rem;
	border-radius: 20rem 2rem 10rem 5rem;
	background-image: url('https://picsum.photos/534/383');
	background-position: center;
	background-size: cover;
}

.profileContent {
	display: flex;
	margin: 2.5rem auto;
	width: 70%;
	font-family: 'Inter', 'sans-serif';

	.profileText {
		width: 100%;
		overflow: hidden;
	}

	h1 {
		max-height: 12.2rem;
		width: 100%;
		font-weight: 800;
		font-size: 3rem;
		line-height: 5rem;
	}

	.smallerText {
		margin-bottom: 2rem;
		margin-top: 2rem;
		font-size: 2rem;
		line-height: 3rem;
	}

	h2 {
		font-weight: 100;
		font-style: italic;
		font-size: 2rem;
		line-height: 2.4rem;
	}

	.iconStar,
	.iconCheck {
		display: flex;
		align-items: center;
		z-index: 1;
	}

	.iconStar {
		width: 5.7rem;
		height: 5.3rem;
		margin: 0 0.5rem 0 0;
	}

	.iconCheck {
		width: 5.7rem;
		height: 5.3rem;
		margin: 0 0.5rem 0 0;
	}
}

.buttonNextProfile {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0.5rem 0.5rem 0;
	margin: 3rem auto;
	width: 22.4rem;
	height: 5.5rem;
	font-family: 'Lato', 'sans-serif';
	font-style: italic;
	font-weight: 400;
	font-size: 3rem;
	line-height: 3rem;
	text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
	-webkit-text-stroke: 0.1rem var(--lightGray);
	box-shadow: 1rem 0.4rem 0.4rem rgba(0, 0, 0, 0.75);
	border-radius: 2rem;
	color: var(--white);
	background-color: var(--green);
	transform: translateX(-0.8rem);
}

@media screen and (min-width: 1100px) {
	.section {
		padding: 0;
		transform: translateX(-1rem);
	}

	.profileImage {
		width: 53.4rem;
	}

	.profileContent {
		padding-left: 8.1rem;
		width: 53.4rem;
		z-index: 2000;

		h1 {
			text-align: center;
			font-size: 5rem;
			line-height: 6.1rem;
			padding: 0.2rem 0 0 0.4rem;
		}

		.smallerText {
			margin-bottom: 1rem;
		}
	}
}
