.wrapper {
	padding-bottom: 4rem;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.author {
	margin: 1.1rem 0 0 2.1rem;
	font-size: 3rem;
	line-height: 3rem;
}

.buttonRegister {
	margin: 1.1rem 2.6rem 0 0;
	padding: 1.05rem 0 0 4.33rem;
	height: 9rem;
	width: 23.6rem;
	border-radius: 2rem;
	font-size: 3rem;
	font-style: italic;
	font-weight: 400;
	line-height: 3rem;
	-webkit-text-stroke: 0.1rem var(--lightGray);
	text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
	box-shadow: 1rem 0.4rem 0.4rem rgba(0, 0, 0, 0.75);
	color: var(--white);
	background-color: var(--darkGreen);
}

.section {
	position: relative;
	margin: 8.7rem auto 0 auto;
	padding: 0 2.5rem;
	max-width: 80rem;
	height: 82.44rem;
}

.profileContainer {
	overflow: hidden;
	position: relative;
	max-width: 80rem;
	height: 73.98rem;
	border-radius: 50rem 6rem 30rem 10rem;
	box-shadow: 1.2rem 0.4rem 0.4rem rgba(0, 0, 0, 0.6);
}

.profileImage {
	position: absolute;
	left: 50%;
	top: 14rem;
	width: 70%;
	height: 38.3rem;
	border-radius: 20rem 2rem 10rem 5rem;
	background-image: url('https://picsum.photos/534/383');
	background-position: center;
	background-size: cover;
	transform: translateX(-50%);
}

.profileContent {
	position: absolute;
	top: 54.94rem;
	left: 50%;
	width: 70%;
	font-family: 'Inter', 'sans-serif';
	transform: translateX(-50%);

	h1 {
		overflow: hidden;
		max-height: 12.2rem;
		width: 60%;
		font-weight: 800;
		font-size: 3rem;
		line-height: 5rem;
	}

	.smallerText {
		margin-bottom: 2rem;
		margin-top: 2rem;
		font-size: 2rem;
		line-height: 3rem;
	}

	h2 {
		font-weight: 100;
		font-style: italic;
		font-size: 2rem;
		line-height: 2.4rem;
	}

	.iconStar,
	.iconCheck {
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
	}

	.iconStar {
		right: 5.68rem;
		width: 5.74rem;
		height: 5.32rem;
	}

	.iconCheck {
		right: 0;
		width: 5.68rem;
		height: 5.32rem;
	}
}

.buttonNextProfile {
	position: absolute;
	left: 50%;
	margin-top: 3rem;
	padding: 1.05rem 0 0 3.13rem;
	width: 22.43rem;
	height: 5.49rem;
	font-family: 'Lato', 'sans-serif';
	font-style: italic;
	font-weight: 400;
	font-size: 3rem;
	line-height: 3rem;
	text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
	-webkit-text-stroke: 0.1rem var(--lightGray);
	box-shadow: 1rem 0.4rem 0.4rem rgba(0, 0, 0, 0.75);
	border-radius: 2rem;
	color: var(--white);
	background-color: var(--green);
	transform: translateX(-50%);
}

@media screen and (min-width: 1100px) {
	.section {
		margin: 8.7rem 17.9rem 0 15.1rem;
		padding: 0 0;
	}

	.profileImage {
		left: 14.4rem;
		width: 53.4rem;
		transform: none;
	}

	.profileContent {
		left: 22.67rem;
		width: 44.53rem;
		transform: none;

		h1 {
			width: 75%;
			text-align: center;
			font-size: 5rem;
			line-height: 6.1rem;
		}

		.smallerText {
			margin-bottom: 1rem;
		}
	}

	.buttonNextProfile {
		margin-top: 0;
		bottom: 0;
		left: 28.17rem;
		letter-spacing: 0.02rem;
		transform: none;
	}
}
