.wrapper {
	overflow: hidden;
	padding: 0 2rem 4rem 2rem;
	min-height: 100vh;
	max-width: 100%;

	h1 {
		max-width: 75.3rem;
		margin: 5rem auto auto auto;
		font-family: 'Inter', 'sans-serif';
		font-size: 2rem;
		font-weight: 800;
		text-transform: uppercase;
		text-align: right;
		line-height: 5.3rem;
		letter-spacing: 0.3rem;
	}

	form {
		display: flex;
		flex-direction: column;
		position: relative;
		padding-top: 5rem;
		margin: 0 auto;
		max-width: 75.3rem;
		font-family: 'Inter', 'sans-serif';

		label {
			display: flex;
			align-items: center;
			margin: 2.2rem 0;
			width: 100%;
			height: 3rem;
			font-weight: 700;
			font-size: 2rem;
			line-height: 3.3rem;
		}

		input {
			max-width: 75.29rem;
			height: 4rem;
			font-size: 2rem;
			line-height: 3.3rem;
			border: none;
			border-bottom: 0.1rem solid var(--black);
		}

		input:focus {
			outline: none;
		}
		.labelLogin::after,
		.labelPassword::after,
		.labelEmail::after,
		.labelPhone::after {
			position: absolute;
			font-style: italic;
			font-weight: 300;
			font-size: 1.5rem;
			line-height: 3.3rem;
			text-align: right;
			color: var(--red);
		}

		.invalid.labelLogin::after {
			content: 'Login jest wymagany';
			bottom: -9rem;
			right: 0;
		}

		.invalid.labelPassword::after {
			content: 'Hasło jest wymagane';
			bottom: -9rem;
			right: 0;
		}

		.invalid.labelEmail::after {
			content: 'Nieprawidłowy format adresu e-mail';
			bottom: -9rem;
			right: 0;
		}

		.invalid.labelPhone::after {
			content: 'Nieprawidłowy numer telefonu';
			bottom: -9rem;
			right: 0;
		}

		.invalid {
			position: relative;

			+ input {
				border-color: var(--red);
			}
		}

		.checkboxContainer {
			display: flex;
			align-items: center;
			position: relative;
			margin-top: 1.5rem;
			width: fit-content;

			input {
				display: none;
			}

			.altCheckbox {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				margin-right: 1.6rem;
				width: 4rem;
				height: 4rem;
			}

			input:checked + .altCheckbox::before {
				content: '✓';
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			&.invalid::before {
				content: 'Wymagana akceptacja';
				position: absolute;
				left: 5.5rem;
				bottom: -0.5rem;
				font-style: italic;
				font-weight: 300;
				font-size: 1.5rem;
				line-height: 3.3rem;
				color: var(--red);
			}
		}

		.submitBtn {
			position: relative;
			margin: 2rem auto;
			padding: 0 0 0.5rem 0;
			width: 22.4rem;
			height: 5.5rem;
			outline: none;
			border: none;
			border-radius: 2rem;
			background-color: var(--blue);
			box-shadow: 1rem 0.4rem 0.4rem rgba(0, 0, 0, 0.75);

			p {
				font-family: 'Lato', 'sans-serif';
				font-style: italic;
				font-weight: 400;
				font-size: 3rem;
				line-height: 3rem;
				text-align: center;
				text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
				-webkit-text-stroke: 0.1rem var(--lightGray);
				color: var(--white);
			}
		}
	}
	form::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 16.6rem;
		height: 0.9rem;
		background-color: var(--blue);
	}
}

@media screen and (min-width: 1100px) {
	.wrapper {
		padding: 0;

		h1 {
			margin: 10rem 17rem auto auto;
		}

		form {
			margin: 1.2rem auto auto auto;
			transform: translateX(1.5rem);

			.labelLogin::after,
			.labelPassword::after,
			.labelEmail::after,
			.labelPhone::after {
				font-size: 2rem;
				line-height: 3.3rem;
			}

			.invalid.labelLogin::after {
				bottom: -9.5rem;
				right: 0.3rem;
			}

			.invalid.labelPassword::after {
				bottom: -9.5rem;
				right: 0.3rem;
			}

			.invalid.labelEmail::after {
				bottom: -9.5rem;
				right: 0.3rem;
			}

			.invalid.labelPhone::after {
				bottom: -9.3rem;
				right: 0.1rem;
			}

			.checkboxContainer {
				&.invalid::before {
					content: 'Wymagana akceptacja regulaminu';
					right: -36rem;
					left: auto;
					bottom: 2rem;
					font-size: 2rem;
					line-height: 3.3rem;
				}
				p {
					margin-top: 0.3rem;
				}
			}
			.submitBtn {
				margin: 0.6rem auto auto auto;
			}
		}
	}
}
