.wrapper {
	overflow: hidden;
	padding: 0 2rem 4rem 2rem;
	min-height: 100vh;
	max-width: 100%;

	h1 {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin: 10.1rem auto auto auto;
		max-width: 75.29rem;
		height: 5.26rem;
		font-family: 'Inter', 'sans-serif';
		font-size: 2rem;
		font-weight: 800;
		text-transform: uppercase;
		text-align: right;
		line-height: 3.3rem;
		letter-spacing: 0.31rem;
	}

	form {
		display: flex;
		flex-direction: column;
		position: relative;
		margin: 1.24rem auto auto auto;
		padding-top: 6.5rem;
		max-width: 75.29rem;
		font-family: 'Inter', 'sans-serif';

		label {
			display: flex;
			align-items: center;
			width: 100%;
			height: 4.34rem;
			font-weight: 700;
			font-size: 2rem;
			line-height: 3.3rem;
		}

		input {
			max-width: 75.29rem;
			height: 4.65rem;
			font-size: 2rem;
			line-height: 3.3rem;
			border: none;
			border-bottom: 0.16rem solid var(--black);
		}

		input:focus {
			outline: none;
		}

		.labelPassword {
			margin: 2.45rem 0 0.15rem 0;
		}
		.labelEmail {
			margin: 2.3rem 0 0.31rem 0;
		}
		.labelPhone {
			margin: 2.16rem 0 0.59rem 0;
		}

		.labelEmail::after,
		.labelPhone::after {
			position: absolute;
			font-style: italic;
			font-weight: 300;
			font-size: 1.5rem;
			line-height: 3.3rem;
			text-align: right;
			color: var(--red);
		}

		.invalid.labelEmail::after {
			content: 'Nieprawidłowy format adresu e-mail';
			bottom: -7.66rem;
			right: 0.4rem;
		}

		.invalid.labelPhone::after {
			content: 'Nieprawidłowy numer telefonu';
			bottom: -7.96rem;
			right: 0.1rem;
		}

		.invalid {
			position: relative;

			+ input {
				border-color: var(--red);
			}
		}

		.checkboxContainer {
			display: flex;
			align-items: center;
			position: relative;
			margin-top: 3.18rem;
			width: fit-content;

			input {
				display: none;
			}

			p {
				margin-top: 0.3rem;
			}

			.altCheckbox {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				margin-right: 1.6rem;
				width: 4rem;
				height: 4rem;
			}

			input:checked + .altCheckbox::before {
				content: '✓';
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			&.invalid::before {
				content: 'Wymagana akceptacja';
				position: absolute;
				left: 5.5rem;
				bottom: -1.5rem;
				font-style: italic;
				font-weight: 300;
				font-size: 1.5rem;
				line-height: 3.3rem;
				color: var(--red);
			}
		}

		.submitBtn {
			position: relative;
			margin: 2rem auto;
			width: 22.43rem;
			height: 5.49rem;
			outline: none;
			border: none;
			border-radius: 2rem;
			background-color: var(--blue);
			box-shadow: 1rem 0.4rem 0.4rem rgba(0, 0, 0, 0.75);

			p {
				position: absolute;
				left: 1.4rem;
				top: 1rem;
				width: 19.56rem;
				height: 3.47rem;
				font-family: 'Lato', 'sans-serif';
				font-style: italic;
				font-weight: 400;
				font-size: 3rem;
				line-height: 3rem;
				text-align: center;
				text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
				-webkit-text-stroke: 0.1rem var(--lightGray);
				color: var(--white);
			}
		}
	}
	form::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 16.62rem;
		height: 0.93rem;
		background-color: var(--blue);
	}
}

@media screen and (min-width: 1100px) {
	.wrapper {
		padding: 0;

		h1 {
			margin: 10.1rem 17rem auto auto;
			width: 89.7rem;
		}

		form {
			margin: 1.24rem 17.4rem auto auto;

			.labelEmail::after,
			.labelPhone::after {
				font-size: 2rem;
				line-height: 3.3rem;
			}

			.invalid.labelEmail::after {
				bottom: -8.2rem;
				right: 0.3rem;
			}

			.invalid.labelPhone::after {
				bottom: -8.16rem;
				right: 0.1rem;
			}

			.checkboxContainer {
				&.invalid::before {
					content: 'Wymagana akceptacja regulaminu';
					right: -35.9rem;
					left: auto;
					bottom: 0.3rem;
					font-size: 2rem;
					line-height: 3.3rem;
				}
			}
			.submitBtn {
				margin: 2rem 26.4rem auto auto;
			}
		}
	}
}
