.backgroundGradient {
	overflow: hidden;
	height: 100%;
	width: 100%;
	opacity: 0.39;
	background-color: #917878;

	.circle1 {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 52.18rem;
		height: 51.2rem;
		border-radius: 100%;
		background-color: #504141;
		transform: translate(-50%, -50%);
	}

	.circle2 {
		position: absolute;
		top: -11.68rem;
		right: -4.6rem;
		width: 44.19rem;
		height: 48.75rem;
		border-radius: 100%;
		background-color: #a59191;
	}

	.circle3 {
		position: absolute;
		top: -21.33rem;
		left: -9.84rem;
		width: 53.35rem;
		height: 50.37rem;
		border-radius: 100%;
		background-color: #695656;
	}

	.circle4 {
		position: absolute;
		bottom: -16.97rem;
		left: -14.75rem;
		width: 47.73rem;
		height: 41.84rem;
		border-radius: 100%;
		background-color: #786262;
	}

	.circle5 {
		position: absolute;
		bottom: -14.97rem;
		right: -20.02rem;
		width: 49.62rem;
		height: 54.54rem;
		border-radius: 100%;
		background-color: #362c2c;
	}

	.topLayer {
		position: absolute;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(56rem);
	}
}
